
@media only screen and (max-device-width: 480px) {

    body {
        font-size: 25px;
    }
    h4 {
        font-size: 36px;
        color: #616161 !important;
    }
    .btn {
        font-size: 25px;
    }
    table {
        font-size: 25px;
    }
}

