<img alt="Paracaidismo Rosario" src="images/pr.png" style="
    padding-top: 20px;
    display: block;
    width: auto;
    height: auto;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
">


<hr/>
<div class="container disable-text-selection" ng-controller="BookingCtrl">

    <style>
        .btn[disabled] {
            opacity: 0.60;
            filter: alpha(opacity=90);
            background-color: #690000;
            color: #777;
        }
        .datepicker {
            background-color: #fff ;
            color: #333 ;
        }
    </style>

    <div class="alert alert-success alert-dismissible" role="alert" ng-show="invalidGroupID">
        <button type="button" ng-model="invalidGroupIDButton" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>ID de grupo invalido</strong> Por favor ingrese un ID valido.
    </div>

    <div class="row">
        <!--<h4>Listo para saltar? Te damos la bienvenida a <strong>Paracaidismo Rosario</strong>. Estamos muy emocionados que nos hallas seleccionado para realizar tu primer salto bautismo.</h4>-->

        <div style="float: left;">
            <div style="float: left; padding-right: 10px;"><h4>Listo para saltar? Elegi la fecha que quieras <span class="glyphicon glyphicon-arrow-right"></span></h4></div>
            <div class="input-group" style="width: 135px;">
                <input class="datepicker" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false" show-weeks="false" readonly>
                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="opencalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
            </div>
        </div>

        <div style="float:right;" class="col-xs-5 col-sm-3 col-md-3 col-lg-2">
            <input ng-show = "groupidview" ng-disable = "groupiddisabled" style="width: 80px; float: right; text-align: center; text-transform:uppercase;"
                   ng-model="groupid"
                   class="form-control"
                   maxlength="5"
                   uib-tooltip="Conserve este codigo de reserva para continuar luego."
                   tooltip-placement="top"
                   tooltip-trigger="mouseenter"
                   tooltip-enable="true"
                    >
            <!--Sacar el true || para que ande el unirte a un grupo
            <button style="float: right;" type="button" class="btn btn-warning fa fa-plus" ng-click="showgroupid()" ng-hide="true || groupidview">&nbsp;Unirte a un gurpo</button>-->

        </div>

        <div style="clear: both; padding-left: 5px;">
            <button type="button" style="float: left;" class="btn btn-danger fa fa-plus" ng-click="open(Books.length)" ng-show="dt">Agregar</button><h4 ng-show="dt" style="padding-top: 5px;"> <span  style="padding-left: 10px;" class="glyphicon glyphicon-arrow-left"></span> Agrega los pariticipantes a la lista</h4>
        </div>


    </div>


    <!--
    <div class="center">
        <div style="display:inline-block; min-height:290px;">
            <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)" date-disabled="disabled(date, mode)"></uib-datepicker>
        </div>
    </div>
    -->



    <div id="info"></div>
    <br/>
    <div id="viewdata"></div>

    <div class="table-responsive"  ng-show="dt">
        <div class="panel panel-primary">
            <div class="panel-heading">Reservas agregadas</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <!--<tr ng-hide="Books.length>-1"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>-->
                    <tr ng-hide="Books.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Accion</th>
                    </tr>

                    <style>
                        .selected {
                            background-color: lightgreen !important;
                        }
                    </style>

                    <tr ng-repeat="book in Books" ng-click="selectFila($index)" ng-class="{selected: $index==selectedrow}">
                        <td>{{book.firstname}}</td><td>{{book.lastname}}</td>
                        <td style="width:100px">
                            <div class="btn-group">
                                <!--<button type="button" class="btn btn-default fa fa-edit" ng-click="open(book);"></button>-->
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="bookdelete();"></button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div style="float: right; padding-right: 35px;">
        <h4 ng-show="Books.length>0" style="float: left; padding-bottom: 5px;">Cuando esten todos en la lista clickea aqui <span style="padding-right: 10px;" class="glyphicon glyphicon-arrow-right"></span></h4><button style="float: right;" ng-show="Books.length>0" type="button" class="btn btn-success fa" ng-click="saveBooking()">Continuar</button>
    </div>

</div>
