<div ng-controller="PilotListCtrl" class="container">

    <form>
        <div class="form-group">
            <div id="date"></div>
        </div>
    </form>

    <button type="button" class="btn btn-primary" ng-click="open()">Agregar pasajero</button>

    <div id="info"></div>
    <br/>
    <div id="viewdata"></div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pilot in pilots">
            <td>
                {{pilot.id}}
            </td>
            <td>
                {{pilot.nombre}}
            </td>
            <td>
                {{pilot.telefono}}
            </td>
            <td>
                {{pilot.email}}
            </td>
            <td>
                <!--<a class="btn btn-warning btn-sm" data-toggle="modal" ng-click="borrar()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>-->
                <a class="btn btn-danger btn-sm"  ng-click="borrar()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
