<link rel="stylesheet" href="css/login.css" type="text/css" />


<div class="container" ng-controller="loginCtrl">

    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">

            <section class="login-form">
                <div lass="alert alert-success alert-dismissible" role="alert" ng-show="invaliduser">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Invalid username/password</strong>
                </div>
                <form role="login" cg-busy="{promise:promise,message:'Logging in'}">
                    <img src="images/pr.png" class="img-responsive" alt=""  />
                    <input type="text" ng-model="username" placeholder="username" required class="form-control input-lg" value="" />

                    <input type="password" ng-model="password" class="form-control input-lg" id="password" placeholder="Password" required="" />


                    <div class="pwstrength_viewport_progress"></div>


                    <button type="button" ng-click="login()" class="btn btn-lg btn-primary btn-block">Sign in</button>

                </form>

                <div class="form-links">
                    <a href="#">www.paracaidismorosario.com</a>
                </div>
            </section>
        </div>

        <div class="col-md-4"></div>


    </div>

</div>

<!--
<div>
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            <i>{{match.model.firstname}}, {{match.model.lastname}}</i>
        </a>
    </script>
    <form class="form-search" ng-controller="loginCtrl">
        <div style="width:350px;" cg-busy="{promise:promise,message:'Loading'}">
        <input type="text" ng-change="searchJumper()" ng-model="selectedJumper" placeholder="Search Jumper" typeahead="jumper as jumper.firstname for jumper in jumpers | filter:$viewValue | limitTo:10" typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)' typeahead-template-url="customTemplate.html" class="form-control" style="width:350px;" ng-disabled="searching" focus-me="!searching">
        </div>
        <i class="icon-search nav-search-icon"></i>
    </form>
</div>
-->


