<div class="modal-body" cg-busy="{promise:promise,message:'Loading'}">
    <form name="newpayment">

        <div class="form-group" style="display: inline-block;">
            <label>Tipo *</label>
            <input ng-model="pay.type" type="text" class="form-control" placeholder="Tipo" autofocus required>
        </div>

        <div class="form-group" style="display: inline-block;">
            <label>Cantidado *</label>
            <input ng-model="pay.net_received_amount" type="text" class="form-control" placeholder="Cantidad" required>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="saveNewPayment()" >Guardar</button>
            <button class="btn btn-warning" type="button" ng-click="cancel();">Cancelar</button>
        </div>

    </form>
</div>