<style>
    .page-title {
        background-color: #a7ddea !important;
        font-size: 29px;
        font-weight: bold;
        border-radius: 8px;
        padding: 10px;
    }

    @media (min-width: 1200px) {
        .container {
            width: 100% !important;
        }
    }


</style>

<button style="float: right" ng-click="logoff()">Log Off</button>

<div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger"><strong>Error:</strong> {{errorMessage}}</div>


<uib-tabset>

<uib-tab heading="Recepcion">

    <br>
    <div class="container disable-text-selection">
        <div class="page-title" style="right: auto; left: 0px; top: 0px; height: 62px; margin: 0px; width: 257px; ">
            <div style="left: 0px; top: 0px; width: 237px; height: 42px; text-align: center;">
                Recepcion
            </div>
        </div>
        <br/>

        <audio id="audio1"><source src="beep.wav"></source></audio>
        <audio id="audio2"><source src="beep1.mp3"></source></audio>

        <input ng-model="starttime" type="time" style="float: right;" value="10:00">
        <button ng-click="startClock(starttime)" style="float: right;">Comenzar</button>

        <div style="display: inline-block;">
            <div style="float: left; padding-right: 10px;"><h4>Fecha <span class="glyphicon glyphicon-arrow-right"></span></h4></div>
            <div class="input-group" style="width: 135px;">
                <input class="datepicker" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-change="updateBookList()" ng-model="dt" is-open="status.opened"  datepicker-options="dateOptions" ng-required="true" show-button-bar="false" show-weeks="false" readonly>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="opencalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>


        <div style="display: inline-block;"><input type="checkbox" ng-model="biggerthandate" ng-change="updateBookList()">Todos los registro despues de la fecha</input></div>
        <div style="display: inline-block;"><input type="checkbox" ng-model="limbo" ng-change="updateBookList()">Limbo</input></div>
        <div style="display: inline-block;"><input type="checkbox" ng-model="manifested" ng-change="updateBookList()">Manifested</input></div>
        <div style="display: inline-block;"><input type="checkbox" ng-model="exFields" ng-change="extendedFields = !extendedFields">Extended Fields</input></div>
        <div style="display: inline-block;"><input type="checkbox" ng-model="altField" ng-change="alertsField = !alertsField">Alerts Fields</input></div>

        <div class="table-responsive">
            <div class="panel panel-primary">
                <div class="panel-heading">Reservas {{Books.length}}
                    <div class="sw-search" >
                        <div class="nav-search" id="nav-search">
                            <!--
                            Filtro:
                            <span class="input-icon">
                            <input placeholder="Filter booking list ..." class="nav-search-input" ng-model="filtrobooktable" autocomplete="off" type="text" style="width:300px;" focus>
                            <i class="search-icon fa fa-search nav-search-icon"></i>
                            </span>
                            -->
                            <div style="inline-block; float: right;">
                                <td style="width:100px">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning" ng-click="editTimePayment(selectedbook);">Horario/Pago</button>
                                    </div>
                                </td>
                                <td style="width:80px">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success" ng-click="editBooking(selectedbook);">Editar</button>
                                    </div>
                                </td>
                                <td style="width:100px">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" ng-click="sendToManifest(selectedbook);">Manifestar</button>
                                    </div>
                                </td>
                                <td style="width:100px">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger" ng-click="bookdelete(selectedbook);">Borrar</button>
                                    </div>
                                </td>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel-body" cg-busy="{promise:promise,message:'Loading'}">

                    <table id="booktable" name="booktable" class="table table-striped" style="font-size: small;">
                        <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="orderByField='bookdate'; reverseSort = !reverseSort">
                                    Fecha <span ng-show="orderByField == 'bookdate'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                </a>
                            </th>

                            <th>
                                <a href="" ng-click="orderByField='schtime'; reverseSort = !reverseSort">
                                    Horario <span ng-show="orderByField == 'schtime'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                </a>
                            </th>

                            <th>
                                <a href="" ng-click="orderByField='groupid'; reverseSort = !reverseSort">
                                    GroupID <span ng-show="orderByField == 'groupid'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                </a>
                            </th>

                            <th>
                                <a href="" ng-click="orderByField='firstname'; reverseSort = !reverseSort">
                                    Nombre <span ng-show="orderByField == 'firstname'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                </a>
                            </th>

                            <th>
                                <a href="" ng-click="orderByField='lastname'; reverseSort = !reverseSort">
                                    Apellido <span ng-show="orderByField == 'lastname'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                </a>
                            </th>

                            <th>
                                <a href="" ng-click="orderByField='phone'; reverseSort = !reverseSort">
                                    Telefono <span ng-show="orderByField == 'phone'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                </a>
                            </th>

                            <th ng-show="extendedFields">
                                <a href="" ng-click="orderByField='email'; reverseSort = !reverseSort">
                                    Email <span ng-show="orderByField == 'email'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                </a>
                            </th>

                            <th ng-show="extendedFields">DOB</th>

                            <th ng-show="extendedFields">Peso</th>

                            <th>
                                <a href="" ng-click="orderByField='vdeposit'; reverseSort = !reverseSort">
                                    Desposito <span ng-show="orderByField == 'vdeposit'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                </a>
                            </th>

                            <th>Saldo</th>
                            <th>Nota</th>
                            <th ng-show="alertsField">Alerta</th>
                        </tr>
                        </thead>
                        <style>
                            .selected {
                                background-color: lightgreen !important;
                            }
                        </style>
                        <tbody>
                        <!--<tr ng-repeat="book in Books | filter:filtrobooktable | orderBy:['schtime','groupid']" ng-click="selectFila($index)" ng-class="{selected: $index==selectedrow}">-->
                        <tr ng-repeat="book in Books | filter:filtrobooktable | orderBy:orderByField:reverseSort" ng-click="selectFila($index,book)" ng-class="{selected: $index==selectedrow}" ng-style="setGroupColor(book)">

                            <td>{{book.bookdate}}</td>
                            <td>{{book.schtime}}</td>
                            <td><a target="_blank" href="https://www.mercadopago.com.ar/activities?q={{book.groupid}}">{{book.groupid}}</td>
                            <td>{{book.firstname}}</td>
                            <td>{{book.lastname}}</td>
                            <td><a href="tel:{{book.phone}}">{{book.phone}}</a></td>
                            <!--<td><a href="whatsapp://{{book.phone}}">{{book.phone}}</a></td>-->
                            <td ng-show="extendedFields"><a target="_blank" href="https://www.mercadopago.com.ar/activities?q={{book.email}}">{{book.email}}</a></td>
                            <td ng-show="extendedFields">{{book.dob}}</td>
                            <td ng-show="extendedFields">{{book.weight}}</td>
                            <td>{{book.vdeposit | currency}}</td>
                            <td>{{book.pending | currency}}</td>
                            <td>{{book.notes}}</td>
                            <td ng-show="alertsField"><button type="button" class="btn btn-danger" ng-click="smtpAlert(book)">Alertar</button></td>
                        </tr>
                        </tbody>
                    </table>
                 </div>
             </div>
        </div>


        <!--
        <div style="top: 50px; right: 50%; position: fixed;">
            <h1 style="float: right; background-color: black; color: red; font-size: 600%;">{{countdowntimer}}</h1>
        </div>
        -->


    </div>


</uib-tab>


<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<uib-tab heading="Manifiesto">

    <br>
    <div class="container disable-text-selection">
        <div class="page-title" style="right: auto; left: 0px; top: 0px; height: 62px; margin: 0px; width: 257px; ">
            <div style="left: 0px; top: 0px; width: 237px; height: 42px; text-align: center;">
                Manifiesto
            </div>
        </div>
        <br/>

        <div style="top: 50px; right: 50%; position: fixed;">
            <h1 style="float: right; background-color: black; color: red; font-size: 600%;">{{countdowntimer}}</h1>
        </div>

        <div class="panel-body" style="" cg-busy="{promise:promise,message:'Loading'}">

            <p><button id="btn-export" ng-click="refreshManifest()">Refresh Manifest</button></p>

            <table id="loadstable" name="loadstable" class="table table-bordered" style="font-size: large; white-space: nowrap; width: 1%;">
                <tr>
                    <th>Vuelo</th>
                    <th>Alumno</th>
                    <!--<th>TI</th>-->
                    <th>Altura</th>
                </tr>

                <tr ng-repeat="load in manifestLoads | orderBy:['loadnumber']" ng-style="setLoadColor(load.loadnumber)">
                    <td>{{load.loadnumber}}</td>
                    <td>{{load.customerName}}</td>
                    <!--<td>{{load.TIname}}</td>-->
                    <td>{{load.altitude}}</td>
                </tr>
            </table>
        </div>
    </div>

    <br>




</uib-tab>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


<uib-tab heading="Statt Management">

    <br>
    <div class="container disable-text-selection">
        <div class="page-title" style="right: auto; left: 0px; top: 0px; height: 62px; margin: 0px; width: 257px; ">
            <div style="left: 0px; top: 0px; width: 237px; height: 42px; text-align: center;">
                Staff
            </div>
        </div>
        <br/>

        <div class="table-responsive">
            <div class="panel panel-primary">
                <div class="panel-heading">Staff
                    <div class="sw-search">
                        <div class="nav-search" id="nav-search">
                            Filtro: <span class="input-icon">
                            <input placeholder="Filter booking list ..." class="nav-search-input" ng-model="filtrostafftable" autocomplete="off" type="text" style="width:300px;" focus>
                            <i class="search-icon fa fa-search nav-search-icon"></i>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="panel-body" style="" cg-busy="{promise:promise,message:'Loading'}">

                    <table id="stafftable" name="stafftable" class="table table-bordered">
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                        </tr>

                        <style>
                            .selected {
                                background-color: lightgreen !important;
                            }
                        </style>

                        <tr ng-repeat="staff in staffStatus | filter:filtrostafftable | orderBy:['loadnumber']" ng-click="selectFila($index)" ng-class="{selected: $index==selectedrow}" ng-style="setLoadColor(load.loadnumber)">
                            <td>{{staff.firstname}}</td>
                            <td>
                                <input ng-model="staff.loggedin" type="checkbox" ng-checked="{{staff.loggedin}}" ng-click="updateStaffLoggedin(staff)" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</uib-tab>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<uib-tab heading="Manifiest Management">

    <br>
    <div class="container disable-text-selection">
        <div class="page-title" style="right: auto; left: 0px; top: 0px; height: 62px; margin: 0px; width: 257px; ">
            <div style="left: 0px; top: 0px; width: 237px; height: 42px; text-align: center;">
                Manifiesto
            </div>
        </div>
        <br/>

        <div class="panel-body" style="" cg-busy="{promise:promise,message:'Loading'}">

            <p><button id="btn-export" ng-click="refreshManifest()">Refresh Manifest</button></p>

            <div class="btn-group">
                <button type="button" class="btn btn-success" ng-click="editLoads();">Editar</button>
            </div>


            <table ng-hide="manifestLoads.length == 1" id="loadstable" name="loadstable" class="table table-bordered" style="font-size: large; white-space: nowrap; width: 1%;">
                <tr>
                    <th>Vuelo</th>
                    <th>Alumno</th>
                    <th>TI</th>
                    <th>Altura</th>
                    <th>Remover</th>
                </tr>

                <tr ng-repeat="load in manifestLoads | orderBy:['loadnumber']" ng-style="setLoadColor(load.loadnumber)">
                    <td>{{load.loadnumber}}</td>
                    <td>{{load.customerName}}</td>
                    <td>{{load.TIname}}</td>
                    <td>{{load.altitude}}</td>
                    <td style="width:100px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" ng-click="removeJumperFromLoad(book);">Remover</button>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>

</uib-tab>

<uib-tab heading="Pagos">

    <br>
    <div class="container disable-text-selection">
        <div class="page-title" style="right: auto; left: 0px; top: 0px; height: 62px; margin: 0px; width: 257px; ">
            <div style="left: 0px; top: 0px; width: 237px; height: 42px; text-align: center;">
                Manifiesto
            </div>
        </div>
        <br/>

        <p><button id="btn-export" ng-click="refreshPays()">Refresh</button></p>

        <table id="pagos" name="pagos" class="table table-bordered" style="font-size: large; white-space: nowrap; width: 1%; float: left;">

            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Efectivo</th>
                <th>Mercado Pago</th>
                <th>Control</th>
            </tr>

            <tr ng-repeat="pago in pagos">
                <td>{{pago.firstname}}</td>
                <td>{{pago.lastname}}</td>
                <td style="text-align: right">${{pago.cash}}</td>
                <td style="text-align: right">${{pago.deposit}}</td>
                <td style="text-align: right;">${{pago.control}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="font-weight: bold; text-align: right;" ng-bind="cashtotal() | currency"></td>
                <td style="font-weight: bold; text-align: right;" ng-bind="deposittotal() | currency"></td>
            </tr>
        </table>

        <table style="font-size: large; white-space: nowrap; width: 1%; float: left; text-align: center;" class="table table-bordered">
            <tr>
                <table style="font-size: large; white-space: nowrap; width: 1%; text-align: center;" class="table table-bordered">
                <tr>
                    <th>Cantidad saltos</th>
                    <th>Total</th>
                    <th>Efectivo</th>
                    <th>Mercado Pago</th>
                </tr>
                <tr>
                    <td>{{pagos.length}}</td>
                    <td ng-bind="cashtotal() + deposittotal() | currency"></td>
                    <td ng-bind="cashtotal() | currency"></td>
                    <td ng-bind="deposittotal() | currency"></td>
                </tr>
                </table>
            </tr>
            <tr>
                <table style="font-size: large; white-space: nowrap; width: 1%; text-align: center;" class="table table-bordered">
                    <tr>
                        <th>Avion</th>
                        <th>Transfer</th>
                        <th>Pakers</th>
                        <th>Gastos</th>
                    </tr>
                    <tr>
                        <td><input ng-model="avion" style="width: 100px;"></td></td>
                        <td><input ng-model="transfer" style="width: 50px;"></td>
                        <td>{{(pagos.length * 80)  | currency}}</td>
                        <td><input ng-model="otrosgastos" style="width: 50px;"></td>
                    </tr>
                </table>
            </tr>
            <tr></tr>
        </table>

    </div>



</uib-tab>

    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->



</uib-tabset>