<div class="modal-header">
    <h4 class="modal-title" style="text-align: center">Por favor indique que ENTIENDE Y ACEPTA las siguientes condiciones:</h4>
</div>
<div class="modal-body" style="padding: 20px; padding-left: 30px;">
    <fieldset>
        <!-- Terms header -->
        <div class="row-fluid">
            <form name="agreement_form" style="text-align: justify;" ng-submit="acceptTerms()">
                <!-- Dynamic conditions -->
                <div id="terms_checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="condition_1" required>
                        Todos los pagos realizados antes de la fecha de su reserva, incluyendo los depósitos, no son reembolsables, pero pueden ser transferidos a cualquier otra persona. En caso de no realizar el pago completo del salto, la tarifa a abonar sera la vigente al dia de la fecha del salto.
                    </label>
                </div>
                <div id="terms_checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="condition_2"  required>
                        Su seguridad y la de todas las personas involucradas son prioritarias para Paracaidismo Rosario, es por esto que podremos negarle el servicio por cualquier motivo que se considerade peligroso o amenazante para usted y / o cualquier otra persona. Esto incluye, pero no se limita a, estar bajo la influencia de sustancias toxicas, incluyendo el alcohol y/o drogas / narcóticos (tanto, legales e ilegales), condiciones meteorológicas peligrosas, forma del cuerpo insegura, tamaño, altura y / o peso , condiciones de salud peligrosas, y cuestiones relacionadas con la aeronave / equipos. No se hacen reembolsos por el servicio a aquella persona que se le halla negado por alguna de estas razones. Sin embargo, puede reprogramar para otra fecha o transferir cualquier cantidad pagada a otra persona.
                    </label>
                </div>
                <div id="terms_checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="condition_3"  required>
                        Debera proporcionar por lo menos 24 horas de antelación con el fin de cancelar o cambiar por cualquier razón. Si no se presenta para su cita programada, sin previo aviso, pierde todos los pagos realizados.
                    </label>
                </div>
                <div id="terms_checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="condition_4"  required>
                        Debe pesar menos de 90kg, esto incluye ropa, calzado, etc; y debe poseer una altura/peso proporcional. En caso de pesar mas de 90kg y hasta 100kg se cobrara un costo extra.
                    </label>
                </div>
                <div id="terms_checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="condition_5"  required>
                        Recomendamos utilizar vestimenta cómoda/atlético en el día de su salto. No se permiten sandalias, zapatos de tacos alto, zapatos de vestir y botas de ningún tipo. Cualquier calzado que contenga lo siguiente tampoco están permitidos: cuero, cuero sintético, correas elásticas, correas de velcro, ganchos, o hebillas. Cualquier persona que lleve cualquier atuendo determinado a ser inapropiado para el paracaidismo no le sera permitido saltar. No se hacen reembolsos si se le niega el servicio por usar vestimenta inapropiada.
                    </label>
                </div>
                <div id="terms_checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="condition_6"  required>
                        Normalmente la actividad dura entre una y dos horas, pero le recomendamos planear una espera de al menos tres a cuatro horas de su día en caso de que haya retrasos inesperados.
                    </label>
                </div>
                <div id="terms_checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="condition_7"  required>
                        Con el fin de participar en cualquier actividad relacionada con paracaidismo, primero debe firmar y ejecutar un acuerdo de contrato legal que exime de ciertos DERECHOS antes de su participación en cualquier actividad relacionada con paracaidismo. Usted debe tener al menos 18 años o más el día en que usted realizara el salto. Debera presentar carnet de identidad legal al momento del check-in.
                    </label>
                </div>
                <div id="terms_checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="condition_9"  required>
                        Si usted esta realizando esta reserva en nombre de otras personas, queda entendido que las misma tienen en conocimiento todos los terminos establecidos en este docuemnto.
                    </label>
                </div>
                <div id="terms_checkboxes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="condition_10"  required>
                        PARACAIDISMO ROSARIO se encuentra solamente en el Aeroclub Casilda, Ruta 92 Km 1.5 - Casilda, Santa Fe.
                    </label>
                </div>


                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-disabled="!agreement_form.$invalid" ng-click="acceptTerms()">Aceptar y Continuar</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel();">Cancelar</button>
                </div>
            </form>
        </div>
    </fieldset>
</div>

























